<div class="container">
  <h1><%= @list.name %></h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Movie</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
    <% @bookmarks.each do |bookmark|%>
      <tr>
        <th scope="row"> <%= bookmark.list_id%> </th>
        <td><%= bookmark.movie.title %></td>
        <td><%= bookmark.comment %></td>
        <td><%= button_to 'Destroy', bookmark_path(bookmark), method: :delete, :onclick => "return confirm('Are you sure you want to delete this bookmark?')" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to 'Crear bookmark', new_list_bookmark_path(@list) %>
  <%= link_to 'Volver', lists_path %>
</div>
